@{
    Layout = "~/Views/Shared/_RightTableLayout.cshtml";
    ViewBag.TableUrl = Url.Action("List", "Dictionary");
}

@section toolbar{
    <div id="toolbar" class="btn-group">
        @FormHelpers.Button(id: "btn_add", icon: "glyphicon-plus", permission: true, btnStyle: "primary", title: "新增", toggle: "modal", target: "modal", href: Url.Action("Add", "Dictionary"))
    </div>
    <div class="modal inmodal" id="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
            </div>
        </div>
    </div>
    <div id="hidToolbar" class="hide">
        @FormHelpers.Button(id: "btn_edit", a: true, icon: "glyphicon-pencil", permission: true, href: Url.Action("Edit", "Dictionary"), btnStyle: "warning ", title: "修改", toggle: "modal", target: "modal", hf: true)
        @FormHelpers.Button(id: "ajax_delete", a: true, icon: "glyphicon-remove", permission: true, href: Url.Action("Delete", "Dictionary"), btnStyle: "danger", title: "删除", hf: true, ajax: "del(this)")
    </div>
}
@section table{
    <th data-field="Group">类型</th>
    <th data-field="Code">编码</th>
    <th data-field="Name">名称</th>
    <th data-field="Id" data-width="80" data-formatter="operateInfo">操作</th>
}



