<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="scheduler" type="iDai360.Scheduler.Core.Configuration.SchedulerConfig, iDai360.Scheduler.Core"/>
  </configSections>

  <appSettings>
    <!--服务名称-->
    <add key="ServiceName" value="iDai360 Scheduler Service"/>
    <!--服务描述-->
    <add key="ServiceDescription" value="爱贷360定时执行服务"/>
    <!--服务依赖项，以逗号或者分号隔开-->
    <add key="ServicesDependedOn" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="iDai360" providerName="System.Data.SqlClient" connectionString="Data Source=115.29.40.140;Initial Catalog=idai360;Persist Security Info=True;uid=idai360;pwd=easy_9999;Persist Security Info=True;MultipleActiveResultSets=true"/>
  </connectionStrings>

  <scheduler configSource="Configs\scheduler.config"/>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
