@{
    Layout = "~/Views/Shared/_RightTableLayout.cshtml";
    ViewBag.TableUrl = Url.Action("ConditionList", "Activity");
}

@section toolbar{
    <div id="toolbar" class="btn-group">
        @FormHelpers.Button(id: "btn_add", icon: "glyphicon-plus", permission: true, btnStyle: "primary", title: "新增", toggle: "modal", target: "modal", href: Url.Action("ConditionAdd", "Activity"))
    </div>
    <div class="modal inmodal" id="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
            </div>
        </div>
    </div>
    <div id="hidToolbar" class="hide">
        @FormHelpers.Button(id: "ajax_sendMail", icon: "glyphicon-envelope", permission: true, a: true, href: Url.Action("Send", "Activity"), btnStyle: "primary", title: "发送", hf: true, ajax: "sendActivity(this)")
        @FormHelpers.Button(id: "ajax_delete", icon: "glyphicon-remove", permission: true, a: true, href: Url.Action("Delete", "Activity"), btnStyle: "danger", title: "删除", hf: true, ajax: "del(this)")
        @FormHelpers.Button(id: "btn_detail", a: true, icon: "glyphicon-list", permission: false, href: Url.Action("ConditionDetailIndex", "Activity"), btnStyle: "default", title: " 档位列表", hf: true, cls: "newTab")
    </div>
}
@section table{
    <th data-field="Id">id</th>
    <th data-field="Name">活动名称</th>
    <th data-field="Type">活动类型</th>
    <th data-field="Start">开始时间</th>
    <th data-field="End">结束时间</th>
<th data-field="Desc">描述</th>
    <th data-field="Status" data-width="70" data-align="center">状态</th>
    <th data-field="IdOp" data-width="130" data-align="center" data-formatter="operateInfo">操作</th>
}
@section Bottom{
    <script>
        //删除通用方法
        function sendActivity(arg) {
            swal({
                title: "您确定要发送吗？",
                text: "发送后将无法删除该记录，请谨慎操作！",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "发送",
                cancelButtonText: "取消",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: $(arg).attr("h"),
                    dataType: 'json',
                    type: 'post',
                    error: function () {
                        window.parent.showMsg("error", "服务器超时！");
                        $(form).find("button[type=submit]").removeAttr("disabled");
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            window.parent.showMsg("success", data.msg);
                            window.location.reload();
                        }
                        else {
                            window.parent.showMsg("error", data.msg);
                        }
                    }
                });
            });
        }
    </script>
}