@{ var random = new Random().Next(1000, 10000);}
<script>
    $(function () {
        //表单提交验证
        $("form").validate({
            submitHandler: function (form) {
                $(form).find("button[type=submit]").attr("disabled", "disabled");
                $.ajax({
                    url: $(form).attr("action"),
                    dataType: 'json',
                    type: 'post',
                    data: $(form).serialize(),
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        window.parent.showMsg("error", "服务器超时！");
                        $(form).find("button[type=submit]").removeAttr("disabled");
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            window.parent.showMsg("success",data.msg);
                            window.location.reload();
                        }
                        else {
                            $(form).find("button[type=submit]").removeAttr("disabled");
                            window.parent.showMsg("error", data.msg);
                        }
                    }
                });
            }
        });

        //日期控件格式化
        $('.dtp').datetimepicker({
            language: "zh-CN",
            orientation: "top",
            todayBtn: true,
            autoclose: true
        });

        //label高度自适应
        $(".dialog-form-@(random)").find(".control-label").each(function () {
            $(this).height($(this).next().height());
        });
    });
    var dialogSize = "@ViewBag.DS";
    if (dialogSize == "") {
        dialogSize = "lg";
    }
    $("#modal:last").find(".modal-dialog").attr("class", "modal-dialog modal-" + dialogSize);
</script>
    <form action="@(Url.RouteUrl(ViewContext.RouteData.DataTokens["area"]))" class="form-horizontal dialog-form-@(random)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h6 class="modal-title">@RenderSection("title",false)</h6>
            </div>
            <div class="modal-body" style="overflow-y:auto;max-height:620px;">
                @RenderBody()
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>
